
<div class="container-fluid ">
  <div class="row">
    <div class="col-md-offset-4 "></div>
    <div class="col-md-4 ">


<%= form_for(@student, remote: true) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name ,class: "form-control"%>
  </div>
  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday ,class: "form-control birthday",order: [:day,:month,:year]%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address ,class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number ,class: "form-control"%>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
    </div>
  </div>
</div>